.dashboard {
    display: grid;
    grid-template-columns: repeat(1, .8fr 2fr);
}

.dashboard-links {
    background-color: rgb(218, 197, 238);
    padding-top: 20px;
    width: 100%;
}

.dashboard-links a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    margin-bottom: 10px;
}

@media only screen and (max-width: 688px) {
    .dashboard {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
}

@media only screen and (max-width: 510px) {
    .dashboard {
        grid-template-columns: repeat(1, 100%);

    }
}